<a href="https://colab.research.google.com/github/Sank3t-Pand3y/Neural-Networks_with_Keras/blob/main/Regression_Models_with_Keras.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import keras

import warnings
warnings.simplefilter('ignore', FutureWarning)

## Downloading the data

In [2]:
filepath='https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv'
concrete_data = pd.read_csv(filepath)

concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

## Split the data into Predictors and Target.

.columns tells all the names of columns that are in a the DataFrame.

In [8]:
concrete_data_columns = concrete_data.columns

In [9]:
concrete_data_columns

Index(['Cement', 'Blast Furnace Slag', 'Fly Ash', 'Water', 'Superplasticizer',
       'Coarse Aggregate', 'Fine Aggregate', 'Age', 'Strength'],
      dtype='object')

In [11]:
predictors = concrete_data.drop('Strength', axis=1)
target = concrete_data['Strength']

In [12]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [13]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [14]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Let's save the number of predictors to *n_cols* since we will need this number when building our network.

In [15]:
n_cols = predictors_norm.shape[1]

In [16]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Input

## Build a Neural Network

In [17]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Input(shape=(n_cols,)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))

    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

## Train and Test the Network.

In [18]:
model = regression_model()

In [19]:
# fit the model
model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

Epoch 1/100
23/23 - 1s - 64ms/step - loss: 1658.6927 - val_loss: 1155.7161
Epoch 2/100
23/23 - 0s - 6ms/step - loss: 1526.0825 - val_loss: 1037.4890
Epoch 3/100
23/23 - 0s - 6ms/step - loss: 1332.7495 - val_loss: 858.9979
Epoch 4/100
23/23 - 0s - 6ms/step - loss: 1040.1302 - val_loss: 626.8289
Epoch 5/100
23/23 - 0s - 6ms/step - loss: 690.8511 - val_loss: 397.7943
Epoch 6/100
23/23 - 0s - 6ms/step - loss: 400.0032 - val_loss: 247.5658
Epoch 7/100
23/23 - 0s - 19ms/step - loss: 268.3129 - val_loss: 194.8117
Epoch 8/100
23/23 - 0s - 6ms/step - loss: 234.3619 - val_loss: 180.2366
Epoch 9/100
23/23 - 0s - 6ms/step - loss: 219.2033 - val_loss: 173.7038
Epoch 10/100
23/23 - 0s - 6ms/step - loss: 207.5126 - val_loss: 165.9523
Epoch 11/100
23/23 - 0s - 6ms/step - loss: 198.6164 - val_loss: 161.7727
Epoch 12/100
23/23 - 0s - 6ms/step - loss: 191.2422 - val_loss: 155.9130
Epoch 13/100
23/23 - 0s - 6ms/step - loss: 184.5841 - val_loss: 154.7180
Epoch 14/100
23/23 - 0s - 6ms/step - loss: 178.7511 - val_loss: 150.6068
Epoch 15/100
23/23 - 0s - 6ms/step - loss: 173.7644 - val_loss: 151.1133
Epoch 16/100
23/23 - 0s - 6ms/step - loss: 169.5544 - val_loss: 146.8144
Epoch 17/100
23/23 - 0s - 6ms/step - loss: 165.2764 - val_loss: 148.1738
Epoch 18/100
23/23 - 0s - 6ms/step - loss: 162.1012 - val_loss: 146.9426
Epoch 19/100
23/23 - 0s - 6ms/step - loss: 158.4027 - val_loss: 144.9596
Epoch 20/100
23/23 - 0s - 6ms/step - loss: 155.6590 - val_loss: 144.2876
Epoch 21/100
23/23 - 0s - 6ms/step - loss: 153.3114 - val_loss: 142.9309
Epoch 22/100
23/23 - 0s - 6ms/step - loss: 151.2873 - val_loss: 143.1653
Epoch 23/100
23/23 - 0s - 6ms/step - loss: 148.6454 - val_loss: 142.5662
Epoch 24/100
23/23 - 0s - 6ms/step - loss: 146.5118 - val_loss: 144.7795
Epoch 25/100
23/23 - 0s - 6ms/step - loss: 144.2002 - val_loss: 141.8597
Epoch 26/100
23/23 - 0s - 6ms/step - loss: 142.2862 - val_loss: 142.4245
Epoch 27/100
23/23 - 0s - 6ms/step - loss: 140.7367 - val_loss: 141.4593
Epoch 28/100
23/23 - 0s - 6ms/step - loss: 138.4630 - val_loss: 141.6855
Epoch 29/100
23/23 - 0s - 6ms/step - loss: 137.2529 - val_loss: 140.7208
Epoch 30/100
23/23 - 0s - 6ms/step - loss: 135.5849 - val_loss: 141.2083
Epoch 31/100
23/23 - 0s - 6ms/step - loss: 132.7891 - val_loss: 140.4723
Epoch 32/100
23/23 - 0s - 8ms/step - loss: 130.6519 - val_loss: 140.9569
Epoch 33/100
23/23 - 0s - 9ms/step - loss: 128.1393 - val_loss: 140.1230
Epoch 34/100
23/23 - 0s - 9ms/step - loss: 125.3080 - val_loss: 138.1503
Epoch 35/100
23/23 - 0s - 8ms/step - loss: 122.9440 - val_loss: 139.3972
Epoch 36/100
23/23 - 0s - 9ms/step - loss: 119.8637 - val_loss: 135.6069
Epoch 37/100
23/23 - 0s - 13ms/step - loss: 117.0658 - val_loss: 136.7973
Epoch 38/100
23/23 - 0s - 8ms/step - loss: 114.4330 - val_loss: 135.6676
Epoch 39/100
23/23 - 0s - 9ms/step - loss: 111.6677 - val_loss: 135.7532
Epoch 40/100
23/23 - 0s - 13ms/step - loss: 108.6577 - val_loss: 134.5211
Epoch 41/100
23/23 - 0s - 10ms/step - loss: 106.3241 - val_loss: 133.5856
Epoch 42/100
23/23 - 0s - 8ms/step - loss: 103.4091 - val_loss: 134.5120
Epoch 43/100
23/23 - 0s - 6ms/step - loss: 101.7654 - val_loss: 133.7082
Epoch 44/100
23/23 - 0s - 6ms/step - loss: 97.8842 - val_loss: 131.7710
Epoch 45/100
23/23 - 0s - 6ms/step - loss: 95.4430 - val_loss: 132.1144
Epoch 46/100
23/23 - 0s - 6ms/step - loss: 92.4607 - val_loss: 132.0683
Epoch 47/100
23/23 - 0s - 6ms/step - loss: 90.1274 - val_loss: 130.6920
Epoch 48/100
23/23 - 0s - 6ms/step - loss: 86.8310 - val_loss: 130.6953
Epoch 49/100
23/23 - 0s - 6ms/step - loss: 84.8383 - val_loss: 128.1393
Epoch 50/100
23/23 - 0s - 6ms/step - loss: 82.3940 - val_loss: 127.9818
Epoch 51/100
23/23 - 0s - 6ms/step - loss: 79.8510 - val_loss: 128.6208
Epoch 52/100
23/23 - 0s - 5ms/step - loss: 77.6533 - val_loss: 124.7234
Epoch 53/100
23/23 - 0s - 6ms/step - loss: 75.9440 - val_loss: 128.7754
Epoch 54/100
23/23 - 0s - 5ms/step - loss: 73.5297 - val_loss: 122.3594
Epoch 55/100
23/23 - 0s - 6ms/step - loss: 71.0183 - val_loss: 129.4318
Epoch 56/100
23/23 - 0s - 6ms/step - loss: 69.1478 - val_loss: 124.8418
Epoch 57/100
23/23 - 0s - 6ms/step - loss: 67.7203 - val_loss: 128.3165
Epoch 58/100
23/23 - 0s - 6ms/step - loss: 65.6630 - val_loss: 122.2771
Epoch 59/100
23/23 - 0s - 6ms/step - loss: 64.0898 - val_loss: 123.7595
Epoch 60/100
23/23 - 0s - 6ms/step - loss: 62.1346 - val_loss: 125.3140
Epoch 61/100
23/23 - 0s - 6ms/step - loss: 60.2889 - val_loss: 120.5565
Epoch 62/100
23/23 - 0s - 6ms/step - loss: 58.6227 - val_loss: 120.0651
Epoch 63/100
23/23 - 0s - 6ms/step - loss: 57.9517 - val_loss: 119.8301
Epoch 64/100
23/23 - 0s - 5ms/step - loss: 55.8363 - val_loss: 121.2436
Epoch 65/100
23/23 - 0s - 6ms/step - loss: 55.1854 - val_loss: 121.3775
Epoch 66/100
23/23 - 0s - 5ms/step - loss: 53.5479 - val_loss: 120.5621
Epoch 67/100
23/23 - 0s - 5ms/step - loss: 53.4416 - val_loss: 115.6177
Epoch 68/100
23/23 - 0s - 5ms/step - loss: 51.6071 - val_loss: 123.1334
Epoch 69/100
23/23 - 0s - 7ms/step - loss: 51.1254 - val_loss: 121.2365
Epoch 70/100
23/23 - 0s - 6ms/step - loss: 50.0796 - val_loss: 116.2805
Epoch 71/100
23/23 - 0s - 5ms/step - loss: 48.3286 - val_loss: 120.6599
Epoch 72/100
23/23 - 0s - 6ms/step - loss: 46.8182 - val_loss: 120.4196
Epoch 73/100
23/23 - 0s - 6ms/step - loss: 46.1163 - val_loss: 118.1961
Epoch 74/100
23/23 - 0s - 5ms/step - loss: 45.6903 - val_loss: 119.6400
Epoch 75/100
23/23 - 0s - 6ms/step - loss: 44.4386 - val_loss: 125.3678
Epoch 76/100
23/23 - 0s - 6ms/step - loss: 43.6678 - val_loss: 119.1902
Epoch 77/100
23/23 - 0s - 6ms/step - loss: 42.6151 - val_loss: 123.4769
Epoch 78/100
23/23 - 0s - 6ms/step - loss: 42.9406 - val_loss: 114.9933
Epoch 79/100
23/23 - 0s - 6ms/step - loss: 41.4687 - val_loss: 121.3912
Epoch 80/100
23/23 - 0s - 6ms/step - loss: 41.1151 - val_loss: 127.1429
Epoch 81/100
23/23 - 0s - 6ms/step - loss: 40.2608 - val_loss: 121.2455
Epoch 82/100
23/23 - 0s - 6ms/step - loss: 39.4670 - val_loss: 127.7519
Epoch 83/100
23/23 - 0s - 5ms/step - loss: 39.0330 - val_loss: 124.2618
Epoch 84/100
23/23 - 0s - 6ms/step - loss: 38.7384 - val_loss: 126.8466
Epoch 85/100
23/23 - 0s - 6ms/step - loss: 38.3946 - val_loss: 125.7860
Epoch 86/100
23/23 - 0s - 6ms/step - loss: 37.6824 - val_loss: 128.8219
Epoch 87/100
23/23 - 0s - 6ms/step - loss: 37.6276 - val_loss: 124.2181
Epoch 88/100
23/23 - 0s - 6ms/step - loss: 36.9198 - val_loss: 127.5872
Epoch 89/100
23/23 - 0s - 6ms/step - loss: 36.1675 - val_loss: 128.0548
Epoch 90/100
23/23 - 0s - 6ms/step - loss: 36.0826 - val_loss: 135.7862
Epoch 91/100
23/23 - 0s - 6ms/step - loss: 35.8212 - val_loss: 128.2529
Epoch 92/100
23/23 - 0s - 6ms/step - loss: 35.2647 - val_loss: 133.2567
Epoch 93/100
23/23 - 0s - 6ms/step - loss: 34.8201 - val_loss: 126.0731
Epoch 94/100
23/23 - 0s - 6ms/step - loss: 34.4486 - val_loss: 132.6121
Epoch 95/100
23/23 - 0s - 6ms/step - loss: 33.9206 - val_loss: 135.5495
Epoch 96/100
23/23 - 0s - 6ms/step - loss: 33.5397 - val_loss: 132.3722
Epoch 97/100
23/23 - 0s - 6ms/step - loss: 33.6355 - val_loss: 131.8694
Epoch 98/100
23/23 - 0s - 6ms/step - loss: 32.7736 - val_loss: 133.8745
Epoch 99/100
23/23 - 0s - 6ms/step - loss: 32.2322 - val_loss: 137.9267
Epoch 100/100
23/23 - 0s - 6ms/step - loss: 32.0783 - val_loss: 134.5674